:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --card-set-gap: 30px;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  min-width: 1200px;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ============= COMPONENTS ============= */
.logo-link {
  display: block;

  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.menu .current-page-item {
  color: var(--accent-color);
}

.current-page-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;

  border-radius: 2px;
  background-color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.social-links-light-theme {
  color: #afb1b8;
}

.social-links-dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}

.social-list-link:hover,
.social-list-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: currentColor;
}
/* ============= END OF COMPONENTS ============= */

/* ============= HEADER ============= */
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-logo-decor {
  color: var(--primary-black-color);
}

.menu {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}
/* ============= END OF HEADER ============= */

/* ============= HERO ============= */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;

  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/background-image.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* ============= END OF HERO ============= */

/* ============= ADVANTAGES ============= */
.advantages-list {
  display: flex;
}

.advantages-list-item {
  width: 270px;
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-icon-container {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-list-item-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages-list-item-description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* ============= END OF ADVANTAGES ============= */

/* ============= SERVICES ============= */
.services {
  padding-top: 0;
  padding-bottom: 94px;
}

.services-img-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.services-img-list-item {
  position: relative;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.services-img-list-label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 27px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ============= END OF SERVICES ============= */

/* ============= TEAM ============= */
.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team-list-item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team-list-item-container {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-list-item-content {
  padding: 30px 0;
}

.team-list-item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list-item-description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
/* ============= END OF TEAM ============= */

/* ============= CLIENTS ============= */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list-link:hover,
.clients-list-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list-icon {
  fill: currentColor;
}
/* ============= END OF CLIENTS ============= */

/* ============= WORKS ============= */
.works-filter-btn-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.works-filter-btn-list-item:not(:last-child) {
  margin-right: 8px;
}

.works-filter-btn {
  display: block;
  padding: 6px 22px;

  letter-spacing: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: inherit;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.works-filter-btn:hover,
.works-filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.works-list-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.works-list-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.works-list-link:hover,
.works-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list-item-thumb {
  position: relative;
  overflow: hidden;
}

.works-list-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  overflow: auto;

  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.works-list-link:hover .works-list-overlay,
.works-list-link:focus .works-list-overlay {
  transform: translateY(0%);
}

.works-list-item-content {
  padding: 20px 24px;

  border: 1px solid #eee;
  border-top: none;
}

.works-list-link-title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.works-list-link-description {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
/* ============= END OF WORKS ============= */

/* ============= FOOTER ============= */
.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-container {
  margin-right: 70px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-decor {
  color: var(--primary-white-color);
}

.address-contacts-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-contacts-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-postal-link {
  color: var(--primary-white-color);
}

.address-mail-link,
.address-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.social-links-container {
  margin-right: 93px;
}

.social-links-caption {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription-form-head {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.subscription-form {
  display: flex;
}

.subscription-form-field {
  margin-right: 12px;
}

.subscription-form-input {
  width: 358px;
  height: 50px;
  padding: 0 16px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.subscription-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 28px;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.subscription-icon {
  margin-left: 10px;
  fill: var(--primary-white-color);
}
/* ============= END OF FOOTER ============= */

/* ============= MODAL WINDOW ============= */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 500;
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  color: var(--primary-black-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-form-field {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form-field:nth-child(5) {
  margin-bottom: 20px;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 46px;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);

  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.checkbox-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  margin-right: 7px;

  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox-icon {
  position: absolute;
  top: -2px;
  left: -2px;
  display: block;
  cursor: pointer;
  opacity: 0;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

.modal-form-checkbox:focus + .modal-form-checkbox-policy .checkbox-icon-wrapper {
  outline: 2px solid var(--primary-black-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy .checkbox-icon {
  opacity: 1;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy .checkbox-icon-wrapper {
  border-color: transparent;
}

.modal-form-checkbox-policy {
  margin-bottom: 30px;

  vertical-align: middle;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal-form-policy-link {
  color: var(--accent-color);
}

.modal-form-btn {
  padding: 10px 56px;

  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}
/* ============= END OF MODAL WINDOW ============= */ ;
