.social-links__container {
  margin-right: 93px;
}

.social-links__caption {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.social-links_theme_light {
  color: #afb1b8;
}

.social-links_theme_dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
}
